.icon{
  display:inline-block;
  vertical-align: top;
  width:0.24rem;
  height: 0.24rem;
  margin-right:0.08rem;
  background-size:100%;
  background-repeat: no-repeat;
}
.decrease{
  background-image: url('../img/text/decrease_1@2x.png')
}
.discount{
  background-image: url('../img/text/discount_1@2x.png')
}
.special{
  background-image: url('../img/text/special_1@2x.png')
}
.invoice{
  background-image: url('../img/text/invoice_1@2x.png')
}
.guarantee{
  background-image: url('../img/text/guarantee_1@2x.png')
}