bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")
.border-top1px
  border-top 1px solid rgba(7,17,27,0.1)
.border-bot1px
  border-bottom 1px solid rgba(7,17,27,0.1)
bg-back($name)
  background-image:url('../../assets/img/icon/back-'+$name+'.png')
bg-keep($name)
  background-image:url('../../assets/img/icon/'+$name+'.png')
.icon
  display:inline-block;
  vertical-align: top;
  width:0.24rem;
  height: 0.24rem;
  margin-right:0.08rem;
  background-size:100%;
  background-repeat: no-repeat;
.decrease
  background-image: url('../../assets/img/text/decrease_1@2x.png')
.discount
  background-image: url('../../assets/img/text/discount_1@2x.png')
.special
  background-image: url('../../assets/img/text/special_1@2x.png')
.invoice
  background-image: url('../../assets/img/text/invoice_1@2x.png')
.guarantee
  background-image: url('../../assets/img/text/guarantee_1@2x.png')
bg-text($name)
  background-image: url('../../assets/img/text/'+$name+'@2x.png')